<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title>TimeTracker</title>
</head>
<a href="http://jquery.com/">jQuery</a>
<script src="https://www.vivaciousmezzo.com/timesheet/libs/jquery.js"></script>
<script src="https://www.vivaciousmezzo.com/timesheet/libs/dist/jquery.handsontable.full.js"></script>
<link rel="stylesheet" media="screen" href="https://www.vivaciousmezzo.com/timesheet/libs/dist/jquery.handsontable.full.css">
<link rel="stylesheet" media="screen" href="https://www.vivaciousmezzo.com/timesheet/libs/demo/css/samples.css">

<div class="handsontable" id="timesheet"></div>
<input type="button" class="Save" title="Save" value="Save Data" id="btnSave">Save Data</button>
<input type="button" class="Load" title="Load" value="Load Data" id="btnLoad">Load Data</button>


<script>
$(document).ready(function () {
 var data = [
        ["Task", "Sun", "Mon", "Tues", "Wed","Thurs","Fri","Sat"],
        ["Marketing", 1, 0, 1, 2,0,1,3],
        ["Teaching",  1, 0, 1, 2,0,1,3],
        ["Business Development",1, 0, 1, 2,0,1,3],
        ["Research", 1, 0, 1, 2,0,1,3],
        ["Practice", 1, 0, 1, 2,0,1,3]
      ]; 
  $('#timesheet').handsontable({
    data: data,
    minSpareRows: 1,
    colHeaders: true,
    contextMenu: true
  });

  $('#btnLoad').on("click",function() {
  var $container = $('#timesheet');
  var table = $container.data('handsontable');
  $.ajax({
    url: "http://www.vivaciousmezzo.com:5000/timesheet/getdata.json",
    dataType: 'json',
    type: 'GET',
    success: function(res) {
        table.loadData(res.data)
        console.log(res.data) 
    }
   });
  }); 
 //Get the data from example data and turn it into JSON
  $('#btnSave').on("click",function() {
  var $container = $('#timesheet');
  var table = $container.data('handsontable');
  console.log(JSON.stringify(table.getData()));
  console.log("test");
  $.ajax({
    type: "POST",
    url: "http://www.vivaciousmezzo.com:5000/timesheet/savedata",
    // The key needs to match your method's input parameter (case-sensitive).
    contentType: "application/json; charset=utf-8",
    data: JSON.stringify(table.getData()),
    success: function(data){alert(data);},
    failure: function(errMsg) {
        alert(errMsg);
      }

    });
  });
});
</script>
</body>
</html>
